.avatar {
    vertical-align: middle;
    text-align: center;
    width: 30px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    width: 50px;
    height: 20px;
}

title {
    color: white;
}